nav
{
    /*background: rgba(0, 0, 0, 0);*/
}

#loginButton
{
    border-color: #CFE7FF;
    background: rgba(0, 0, 0, 0);
    color: #CFE7FF;
}
#loginButton:hover
{
    border-color: #CFE7FF;
    background: #CFE7FF; 
    color: #343a40;  
}
#signupButton:hover
{
    border-color: #CFE7FF;
    background: #CFE7FF; 
    color: #343a40;
}
#signupButton
{
    border-color: #CFE7FF;
    background: rgba(0, 0, 0, 0);
    color: #CFE7FF; 
}
.navbar-brand
{ 
position: relative;
margin-top:0;
font-size: 25px;
}
.navbar #navbarDropdownMenuLink,
.navbar #becomeAnInstructor
{
  font-size: 18px;
}
.navbar #navbarDropdownMenuLink:hover,
.navbar #becomeAnInstructor:hover
{
  text-decoration: underline; 
}
.carousel-item img
{
    height: 250px;
    width: 250px;
    margin-top: 10px;
}
.carousel-caption h1
{
    font-size: 70px; 
}
.carousel
{
    height: 350px;
}
.carousel-caption .card
{
    top: 100px;
}
.blockquote-footer
{
    color: black;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgb(23,162,184);
  box-shadow: 0 1px 1px rgb(23,162,184) inset, 0 0 8px rgb(23,162,184);
}
a[role="button"]:after
{
  box-shadow: transparent;
}
img
{
  width: 40px;
  margin-top: -5px;
}
.prefooter
{
    height: 10vh;
    opacity: 0;
    background: black;
}
footer
{
  background-color: #343a40;
  bottom: 0;
  position: absolute;
  width: 100%;

} 
footer p,
footer a
{
  color: #9a9da0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}
body
{
    position: relative;
    background: url(static/Blur.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.row 
{
    padding: 0;
    margin: 0;
}


.components a,
.components a:hover,
.components a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#content .instrustorsPage
{
    text-decoration: underline;
    color: #343a40;
}
#content .instrustorsPage:hover
{
    text-decoration: underline;
    color: #17a2b8;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#secondNavBar .wrapper {
    display: flex;
    width: 100%;
}

#secondNavBar #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    border-radius: 0 0 0 0;
    font-size: 18px;
}

#secondNavBar #sidebar .sidebar-header {
    padding: 20px;
    background: #CFE7FF;
}
#secondNavBar .sidebar-header {
    color: #343a40;
}

#secondNavBar #sidebar ul.components {
    padding: 20px 0;
}


#secondNavBar #sidebar ul li a {
    padding: 8px;
    display: block;
    color: #fff;
}

#secondNavBar #sidebar ul li a:hover {
    color: #343a40;
    background: #A5B9CC;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#secondNavBar #content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


/*/////////////////////////////////////////////////////////////*/
#attachedFilesCard, #generalInformationCard
{
    width: 854px;
    top: 30px;
}

/*.card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}*/

/*.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/
.card-img
{
    width: 100%;
    height: 100%;
}

.list-group
{
    width: 101%;
    padding-right: 4px;
}

.card-img-top
{
    height: 200px;
}

.components .active
{
    color: #17a2b8;
    background-color: white;
}

.nav-fill,
.nav-fill a:not(.active)
{
    background-color: transparent;
    border: none;
    border-bottom: transparent;
    color: #17a2b8;
}
.nav-fill a:hover:not(.active)
{
    text-decoration: underline; 
    border: none;
}
footer
{
  background-color:     ;
  bottom: 0;
  position: absolute;
  width: 100%;

} 
footer p,
footer a
{
  color: #9a9da0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}
footer a:hover
{
    color: #17a2b8;
}

#carouselExampleIndicators
{
    margin-top: 55px;
}
.card
{
    border-radius: 0 0 0 0;
}
#sideBarCard
{
    border-radius: 0 0 0 0;
    width: 100%;
    border: none;
    height: 30vh;
}
#listOfInstructors
{
    font-size: 20px;
}
.imgForPresentation
{
    height: 256px;
    width: 256px;
}
.textForPresentationRight
{
    font-size: 30px;
    text-align: right;
}
.textForPresentationLeft
{
    font-size: 30px;
    text-align: left;
}
.presentation
{
    opacity: 0;
}

#learnMore,
#InstructorList .btn,
#sideBarCard .btn
{
    background-color: #8C6B56;
    border-color: #4D3C2B;
    color: #4D3C2B;
}
#learnMore:hover,
#learnMore:focus,
#sideBarCard .btn:hover,
#sideBarCard .btn:focus,
#InstructorList .btn:hover,
#InstructorList .btn:focus
{
    background-color: #735D51;
    box-shadow: none;
    color: #fff;
}
#InstructorList .card
{
    width: 350px;
}
#sideBarCard p
{
    font-size: 25px;
}
.instructorImg
{
    width:120px;
    height:120px;
    border-radius:50%;
}
.fa-star
{
    color: #fbbe2e;
}

