body
{
    position: relative;
}
.row 
{
    padding: 0;
    margin: 0;
}

#secondNavBar .wrapper {
    display: flex;
    width: 100%;
}

#secondNavBar #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    border-radius: 0 0 0 0;
    font-size: 18px;
}

#secondNavBar #sidebar .sidebar-header {
    padding: 20px;
    background: #CFE7FF;
}
#secondNavBar .sidebar-header {
    color: #343a40;
}

#secondNavBar #sidebar ul.components {
    padding: 20px 0;
}


#secondNavBar #sidebar ul li a {
    padding: 8px;
    display: block;
    color: #fff;
}

#secondNavBar #sidebar ul li a:hover:not(.active) {
    color: #343a40;
    background: #A5B9CC;
}
#secondNavBar #sidebar .active
{
    padding: 8px;
    display: block;
    color: #343a40;
}





.components a,
.components a:hover,
.components a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#secondNavBar .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed grey;
    margin: 20px 0;
}



#content .instrustorsPage
{
    text-decoration: underline;
    color: #343a40;
}
#content .instrustorsPage:hover
{
    text-decoration: underline;
    color: #17a2b8;
}

/*nav*/
#userButton
{
    border-color: #CFE7FF;
    background: rgba(0, 0, 0, 0);
    color: #CFE7FF;  
}
#userButton:hover
{
    border-color: #CFE7FF;
    background: #CFE7FF; 
    color: #343a40;  
}
#userButtonList
{
  margin-left: 15px;
}
#loginButton
{
    border-color: #CFE7FF;
    background: rgba(0, 0, 0, 0);
    color: #CFE7FF;
    display: none;
}
#userButton:focus
{
  box-shadow: none;
  border-color: #CFE7FF;
    background: #CFE7FF; 
    color: #343a40; 
}
#loginButton:hover
{
    border-color: #CFE7FF;
    background: #CFE7FF; 
    color: #343a40;  
}
#signupButton:hover
{
    border-color: #CFE7FF;
    background: #CFE7FF; 
    color: #343a40;
}
#signupButton
{
  display: none;
    border-color: #CFE7FF;
    background: rgba(0, 0, 0, 0);
    color: #CFE7FF; 
}
.navbar-brand
{ 
position: relative;
margin-top:0;
font-size: 25px;
}
.navbar #navbarDropdownMenuLink,
.navbar #becomeAnInstructor
{
  font-size: 18px;
  color: white;
}
.navbar #navbarDropdownMenuLink:hover,
.navbar #becomeAnInstructor:hover
{
  text-decoration: underline; 
}
img
{
  width: 40px;
}
#logo
{
    width: 40px;
    margin-top: -5px;
}




















#secondNavBar #content {
    width: 100%;
    min-height: 205vh;
    transition: all 0.3s;
}



.youtubeIframe iframe {
    margin-left: 122.5px;
    margin-top: 13px;
}

/*/////////////////////////////////////////////////////////////*/
#attachedFilesCard, #generalInformationCard
{
    width: 854px;
    top: 30px;
}
.card-img
{
    width: 100%;
    height: 100%;
}

.list-group
{
    width: 101%;
    padding-right: 4px;
}

.card-img-top
{
    height: 200px;
}

.components .active
{
    color: #17a2b8;
    background-color: white;
}

.nav-fill,
.nav-fill a:not(.active)
{
    background-color: transparent;
    border: none;
    border-bottom: transparent;
    color: #17a2b8;
}
.nav-fill a:hover:not(.active)
{
    text-decoration: underline; 
    border: none;
}
footer
{
  background-color: #343a40;
  bottom: 0;
  position: absolute;
  width: 100%;

} 
footer p,
footer a
{
  color: #9a9da0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}
footer a:hover
{
    color: #17a2b8;
}


/*Q&A*/
#studentsQuestions a:not(.btn)
{
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;

}
#bestIn
{
    margin-left: 0;
}
.fa-crown,
.fa-star
{
    color: #fbbe2e;
}
/*preloader*/
.loaderBox
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 100px;
  bottom: 110px;
  left: 0;
  width: 100px;
  height: 100px;
}
.loadeAnim2,
.loadeAnim3,
.loadedSpan{
    position: absolute;
    border-radius: 100%;
    border: 10px solid transparent;
}

.loadeAnim2{
    width: 110px;
    height: 110px;
    border-top: 10px solid #3591d8;
    border-bottom: 10px solid #d3b344;
    top: 45px;
    left: 45px;
    animation: leftToRight 2s linear infinite;
}
.loadedSpan
{
    font-size: 66px;
    top: 37px;
    left: 50px;
}
.loadeAnim3 {
    width: 110px;
    height: 110px;
    border-right: 10px solid #ad5677;
    border-left: 10px solid #349e30;
    top: 45px;
    left: 45px;
    animation: topToBottom 3s linear infinite;
}
@keyframes leftToRight {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes topToBottom {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
.none
{
  display: none;
}