body
{
    background: url(../images/pinkMountain.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;  
  min-height: 100vh;
  position: relative;
}
.navbar a:hover
{
    color: #d87f77;
}
.dropdown a[role='button']
{
    box-shadow: none;
    color: #d87f77;
    border-color: #d87f77;
}
.dropdown a[role='button']:active
{
    box-shadow: 0 1px 1px rgb(216,127,119) inset, 0 0 8px rgb(216,127,119);
}
.dropdown a[role='button']:hover
{
    color: white;
}
footer
{
  background-color: #343a40;
  width: 100%;
  position: absolute;
  bottom: -46px;
} 
footer p,
footer a
{
  color: #9a9da0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}
footer a:hover
{
    color: #d87f77;
}
.tab-content
{
    width: 60vw;
}

#myTab,
#myTab a:not(.active)
{
    background-color: transparent;
    border: none;
    border-bottom: transparent;
    color: white;
}
#myTab a:hover:not(.active)
{
    text-decoration: underline;
    border: none;
}
.list-group a
{
    color: #d87f77;
}
.list-group .btn
{
  color: #d87f77;
  border-color: #d87f77;
  background-color: transparent;
}
.list-group .btn:hover
{
    border-color: #d87f77;
    background: rgba(0, 0, 0, 0.2);
}
.list-group .btn:active
{
  box-shadow: none;
  background-color: #d87f77;
  color: white;
}

.card .btn
{
  border-color: #d87f77;
  color: #d87f77;
  background-color: #fff;
}

.card .btn:hover
{
  background-color: #d87f77;
  color: #fff;
}

.card .btn:active,
.card .btn:focus
{
  box-shadow: none;
}

.custom-select
{
}
.custom-select:active,
.custom-select:focus
{
  box-shadow: none;
  border-color: #d87f77;
}
select option {
  color: #d87f77;
}
#additionalInformation:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #d87f77;
  box-shadow: none;
}

#additionalInformation
{
  border-color: lightgrey;
  color: black;
}

#videoInput
{
  color: black;
}
#fileBrowser
{
  height: 38px;
  background-color: #fff;
}
#fileBrowser:active,
#fileBrowser:focus
{
  border-color: lightgrey;
}

#nameOfTopicCard,
#ContetnOfTopicCard
{
  display: none;
}